
.body{
    box-sizing: border-box;
}

.container{
    
    .sub__container{
        position: relative;
        display: flex;
        align-items: center;
        .levels{
            max-height: 30px;
        }
        .color{
            max-height: 30px;
        }
        .main__btn{
            margin-left: 10px;
        }
        
    }
    .mainContainer{
        display: grid;
        justify-content: center;
        .EazyContainer{
            position: relative;
            width: 250px;
            height: 250px;
            
            .colorSquare{
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                cursor: pointer;
                
            }
        }

        .normalContainer{
            position: relative;
            width: 600px;
            height: 600px;
          
            .colorSquare{
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                cursor: pointer;
                
            }
        }
        .hardContainer{
            width: 1200px;
            height: 800px;
          
            .colorSquare{
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                cursor: pointer;
                
            }
        }


    }
 
}


